*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
    background-color: #e8c5a2;
}

header .logo{
    max-width: 5rem;
    border-radius: 200px;
}

header .abrir-menu, header .cerrar-menu{
    display: block;
    border: 0;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
}

header .cerrar-menu{
    color: #e8c5a2;
}

.menu{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.945);
    padding: 20px;
    gap: 10px;
    font-size: 25px;
    z-index: 3;
}

.menu.visible{
    opacity: 1;
    visibility: visible;
}

header .menu .menu-lista{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header .menu .menu-lista li a{
    text-decoration: none;
    color: #e8c5a2;
    letter-spacing: 1px;
}

#hola {
    background-image: url(./images/foto-principal-2.jpeg);
    background-size: cover;
    height: 350px;
    background-position: center;
    position: relative;
}

#hola h1{
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #e0b080;
    border: 1px solid rgb(218, 187, 225);
    padding: 10px;
    opacity: 40%;
    color: white;
    text-shadow: 1px -1px 17px rgb(186, 61, 61);
}

#hola button{
    position: absolute;
    top: 80px;
    left: 110px;
    padding: 8px;
    background-color: rgb(224, 176, 128, 0.4);
    color: #594d4d;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 20px;
    text-shadow: 1px -1px 17px rgb(186, 61, 61);
}

#hola h1 span{
    font-weight: 600;
    letter-spacing: 1px;
}

.titulos{
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 30px;
    color: #594d4d;
    font-weight: 400;
    font-size: 30px;
    /* background-color: rgb(240, 230, 218); */
}

.parrafo{
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: rgb(42, 41, 41);
}

#quote{
    background-color: #e8c5a2;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
}

#quote img{
    height: 50px;
    width: 50px;
}

#quote p{
    padding: 20px;
    font-size: 16px;
    color: white;
}

#conocimientos{
    margin-bottom: 30px;
}

.conocimientos-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.conocimientos-cards .tarjeta{
    border: 1px solid #e8c5a2;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    opacity: 60%;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    box-shadow: 1px 3px 6px 6px rgba(196,195,194,0.5);
}

.conocimientos-cards img{
    width: 140px;
    height: 140px;
}

.proyectos-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyectos-tarjetas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 330px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 3px 6px 6px rgba(196,195,194,0.5);
}

.proyectos-tarjetas div img{
    object-fit: cover;
    height: 80%;
    width: 90%;

}

.proyectos-tarjetas div button{
    font-weight: 400;
    letter-spacing: 1px;
    background-color: white;
    color: black;
    border: none;
    margin: 20px;
    padding: 5px;
    width: 200px;
}

.proyectos-tarjetas div button a{
    text-decoration: none;
    color: #594d4d;
}

#contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contacto .contactame{
    margin: 20px;
    text-align: center;
}

#contacto .contactame .contacto-iconos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#contacto .contactame .contacto-iconos a{
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 5px;
}

#contacto .contactame .contacto-iconos i{
    color: pink;
    padding: 10px;
}


@media (min-width: 500px){
    header .abrir-menu, header .cerrar-menu{
        display: none;
    }

    header .menu{
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #e8c5a2;

    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #e8c5a2;
        height: 100px;
    }

    header .menu .menu-lista{
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }

    header .menu .menu-lista li a{
        color: white;
    }
}