*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 100px;
    background-color: #E5989B;
}

header .logo{
    max-width: 5rem;
    border-radius: 200px;
}

header .abrir-menu, header .cerrar-menu{
    display: block;
    border: 0;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
}

header .cerrar-menu{
    color: #FFB4A2;
}

.menu{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:#6D6875;
    padding: 20px;
    gap: 10px;
    font-size: 25px;
}

.menu.visible{
    opacity: 1;
    visibility: visible;
}

header .menu .menu-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header .menu .menu-list li a{
    text-decoration: none;
    color: #FFB4A2;
    letter-spacing: 1px;
}


@media (min-width: 500px){
    header .abrir-menu, header .cerrar-menu{
        display: none;
    }

    header .menu{
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #E5989B;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #E5989B;
        height: 100px;
    }

    header #menu #menu-list{
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }

    header .menu .menu-list li a{
        color: #6D6875;
    }
}