*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
    background-color: #e8c5a2;
}

header .logo{
    max-width: 5rem;
    border-radius: 200px;
}

header .abrir-menu, header .cerrar-menu{
    display: block;
    border: 0;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
}

header .cerrar-menu{
    color: #e8c5a2;
}

.menu{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.945);
    padding: 20px;
    gap: 10px;
    font-size: 25px;
    z-index: 3;
}

.menu.visible{
    opacity: 1;
    visibility: visible;
}

header .menu .menu-lista{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header .menu .menu-lista li a{
    text-decoration: none;
    color: #e8c5a2;
    letter-spacing: 1px;
}

#hola {
    background-image: url(./images/foto-principal-2.jpeg);
    background-size: cover;
    height: 350px;
    background-position: center;
    position: relative;
}

#hola h1{
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #e0b080;
    border: 1px solid rgb(218, 187, 225);
    padding: 10px;
    opacity: 40%;
    color: white;
    text-shadow: 1px -1px 17px rgb(186, 61, 61);
}

#hola button{
    position: absolute;
    top: 80px;
    left: 110px;
    padding: 8px;
    background-color: #e0b080;
    opacity: 40%;
    color: white;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 20px;
    text-shadow: 1px -1px 17px rgb(186, 61, 61);
}

#hola h1 span{
    font-weight: 600;
    letter-spacing: 1px;
}


@media (min-width: 500px){
    header .abrir-menu, header .cerrar-menu{
        display: none;
    }

    header .menu{
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #e8c5a2;

    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #e8c5a2;
        height: 100px;
    }

    header .menu .menu-lista{
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }

    header .menu .menu-lista li a{
        color: white;
    }
}