#cita{
    background-color: #e8c5a2;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
}

#cita img{
    height: 50px;
    width: 50px;
}

#cita p{
    padding: 20px;
    font-size: 16px;
    color: white;
}

@media (min-width: 768px){
    #cita{
        font-size: 35px;
        height: 320px;
    }

    #cita img{
        height: 80px;
        width: 80px;
    }

    #cita p{
        font-size: 23px;
    }
}