#conocimientos{
    margin-bottom: 30px;
}

.conocimientos-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conocimientos-cards .tarjeta{
    border: 1px solid #e8c5a2;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    opacity: 60%;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    box-shadow: 1px 3px 6px 6px rgba(196,195,194,0.5);
    background-color: rgba(255, 255, 255, 0.785);
}

.conocimientos-cards img{
    width: 100px;
    height: 100px;
}

@media (min-width: 768px){
    #conocimientos .conocimientos-cards img{
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1024px){
    #conocimientos .conocimientos-cards img{
        width: 300px;
        height: 300px;
    }

    .conocimientos-cards .tarjeta{
        margin: 30px;
    }

    .conocimientos-cards .tarjeta p{
        font-size: 35px;
    }
}