#contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contacto .contactame{
    margin: 20px;
    text-align: center;
}

#contacto .contactame .contacto-iconos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#contacto .contactame .contacto-iconos a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

#contacto .contactame .contacto-iconos i{
    color: var(--color-naranja);
    padding: 10px;
}

#contacto .contactame .contacto-iconos i:hover{
    color: var(--color-oscuro);
}

.contacto-contenedor img{
    display: none;
}
@media (min-width: 768px){
    #contacto .contactame .contacto-iconos a{
        margin: 20px;
        font-size: 25px;
    }

    .contacto-contenedor{
        display: flex;
        justify-content: space-evenly;
    }

    .contacto-contenedor img{
        display: inline-block;
        height: 250px;
        width: 250px;
    }
    
}

@media (min-width: 1024px){

    .contacto-contenedor{
        display: flex;
        justify-content: space-evenly;
    }

    .contacto-contenedor img{
        display: inline-block;
        height: 300px;
        width: 300px;
    }
    
}