#introduccion {
    background-image: url('../images/foto-principal-2.jpeg');
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center;
    display: flex;
    padding-top: 30px;
    position: relative;
    z-index: 3;
}

#introduccion .intro-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255, 0.5);
    width: 250px;
    height: 200px;
    margin: auto;
}

#introduccion h1{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    color: #594d4d;
}

#introduccion p{
    margin: 10px;
    letter-spacing: 2px;
    color: #594d4d;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#introduccion .front-parrafo{
    font-size: 17px;
}

#introduccion button{
    padding: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    background-color: #e8c5a2;
}

#introduccion button a {
    text-decoration: none;
    color: black;
}

#introduccion button:hover{
   background-color:#594d4d;
   box-shadow: 10px 10px 118px 16px rgba(89,77,77,0.73);
}

#introduccion button a:hover{
    color:#e8c5a2;
}

#introduccion h1 span{
    font-weight: 600;
    letter-spacing: 1px;
}

@media (min-width: 768px) {

    #introduccion{
        height: 650px;
    }
    #introduccion .intro-contenedor{
        width: 400px;
        height: 300px;
    }

    #introduccion h1{
        font-size: 35px;
    }

    #introduccion p{
        font-size: 25px;
    }

    #introduccion button{
        font-size: 20px;
        margin: 10px;
        padding: 13px;
    }

}


@media (min-width: 1024px) {

    #introduccion{
        height: 700px;
    }
    #introduccion .intro-contenedor{
        width: 500px;
        height: 400px;
    }

    #introduccion h1{
        font-size: 35px;
    }

    #introduccion p{
        font-size: 25px;
    }

    #introduccion button{
        font-size: 20px;
        margin: 10px;
        padding: 13px;
    }

}

