#hola {
    background-image: url('../images/foto-principal-2.jpeg');
    background-size: cover;
    height: 350px;
    background-position: center;
    display: flex;
}

#hola .hola-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255, 0.5);
    width: 250px;
    height: 160px;
    margin: auto;
}

#hola h1{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    color: #594d4d;
}

#hola p{
    margin: 10px;
    letter-spacing: 2px;
    color: #594d4d;
    font-size: 20px;
    font-weight: 400;
}

#hola button{
    padding: 8px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    background-color: #e8c5a2;
}

#hola button a {
    text-decoration: none;
    color: black;
}

#hola button:hover{
   background-color:#594d4d;

}

#hola button a:hover{
    color:#e8c5a2;
}

#hola h1 span{
    font-weight: 600;
    letter-spacing: 1px;
}

@media (min-width: 1024px) {

    #hola{
        height: 600px;
    }
    #hola .hola-contenedor{
        width: 500px;
        height: 400px;
    }

    #hola h1{
        font-size: 35px;
    }

    #hola p{
        font-size: 25px;
    }

    #hola button{
        font-size: 20px;
        margin: 10px;
        padding: 13px;
    }

}

