@import url('header.css');
@import url('hola.css');
@import url('cita.css');
@import url('conocimientos.css');
@import url('proyectos.css');
@import url('contacto.css');
@import url('escribeme.css');
@import url('footer.css');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EAEAEA;
}
.titulos{
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 30px;
    color: #594d4d;
    font-weight: 400;
    font-size: 30px;
    /* background-color: rgb(240, 230, 218); */
}

.parrafo{
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: rgb(42, 41, 41);
}

hr{
    border: 1px dotted #e8c5a2;
    margin: 0;
    width: 90%;
    height: 0;
}

.contenedor-avion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.contenedor-avion img{
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

@media (min-width: 768px){
    .titulos{
        font-size: 45px;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .parrafo{
        font-size: 22px;
        margin: 20px;
    }
}

@media (min-width: 1024px){
    .titulos{
        font-size: 55px;
    }

    .parrafo{
        font-size: 30px;
    }
}

